<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Amond</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active text-white" href="/board">게시판</a>
      </li>
    </ul>
  </nav>